//- .list-state
//- 	.list-header
//- 		h2
//- 			| Watch-List
//- 		.state-description
//- 			| Create your own.

a-candlestick.list-wrapper( candlestick='aCandlestick' )
a-list.list-wrapper( list='aList' )