section.main
	.app-sprout-logo
	.logo-text
		| Stockr
	.main-description
		| Stalk charts effectively.
	.main-register-button.big-green-button( ui-sref='register' )
		| Register
	.main-login-button.small-outline-button( ui-sref='login' )
		| Login

footer