section.home
	.content
		.home-description(
		sn-skrollr
		data-start="opacity: 1; filter: blur(0px);"
		data-100-start="opacity: .1; filter: blur(10px);")
			| Supercharge your watchlist.
		ul.watchlist
			li.pos
				ul.ticker
					li $TCG
					li $13.50
				ul.levels
					li.pos $14.50
					li.pos $14.23
					li.neg $13.34
					li.neg $13.00
			li.neg
				ul.ticker
					li $DAN
					li $1337.50
				ul.levels
					li.pos $1453.95
					li.pos $1400.00
					li.neg $1102.34
					li.neg $1099.99
			li.neg
				ul.ticker
					li $JSON
					li $420.69
				ul.levels
					li.pos $1114.20
					li.neg $114.20
					li.neg $14.20
					li.neg $4.20
		.intro

			

footer