ul.watchlist
	//- .empty-watchlist( ng-show='watchlist.length === 0' )
	//- 	.empty-list-text
	//- 		| No tickers yet! Why don't you add some?
	li.watchlist-item( ng-repeat='item in watchlist | reverse', ng-keypress='keyPress( item, $index, $event )' )
		ul.ticker
			li( type='text', ng-model='item.ticker', placeholder='(x) Delete watchlist item', ng-blur='saveWatchlist( item, $index, $event )' ) 
				| {{ item.ticker }}
			li TEST

		input.watchlist-item-level-input( type='text', ng-model='val.level', placeholder='Add level', ng-keypress='levelInputKeypress( item, val.level, $index, $event )' )
		ul.levels( ng-repeat='val in item.levels' )
			li.watchlist-item-level
				p.watchlist-item-level-input( type='text', ng-click="deleteLevel( item, val )", ng-model='val.level' )
					| {{ val }}
		.delete-watchlist-item( ng-click='deleteWatchlistItem( item, $index )' )
div( class="add-to-watchlist" )
	button( class="add-to-watchlist-btn" ng-click="addCurrentTicker()") + add to watchlist