// A Watchlist Stlyes
.tcg-view
{
	.watchlist-wrapper
	{
		margin-top: 40px;
	}
}
.watchlist-wrapper
{
	margin-top: 90vh;
	.delete-watchlist-item
	{
		@extend %icon-x-solid;

		align-items: center;
		justify-content: center;

		position: absolute;
		top: 5px;
		right: 5px;

		color: #e4e4e4;
		font-size: 15px;

		transition: color 0.2s ease-out;

		&:hover
		{
			color: $red;
		}
	}
}

.watchlist
{
	align-items: center;

	display: flex;
	margin: auto;
	> li
	{
		width: 250px;
		margin-bottom: 15px;
		padding: 15px 20px 15px 15px;
		border-radius: 10px;
		background-color: white;
		box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.15 );
	}
	> li.pos
	{
		border-left: 10px solid $green;
		.ticker
		{
			li
			{
				color: $green;
			}
		}
		.watchlist-item-level-input
		{
			color: $green;
		}
	}
	> li.neg
	{
		border-left: 10px solid $red;
		.ticker
		{
			li
			{
				color: $red;
			}
		}
		.watchlist-item-level-input
		{
			color: $red;
		}
	}
	.watchlist-item-level-input
	{
		padding: 2px 5px;
		outline: 0;
		border: 0;
		border: 1px solid $light;
	}
}

.ticker
{
	flex-flow: row;
	align-items: center;
	justify-content: center;

	display: flex;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid $light;

	li
	{
		color: $dark;
		font-weight: bold;
		font-size: 24px;
		text-transform: uppercase;
	}
	li:last-of-type
	{
		margin-left: auto;
		padding: 5px;
		border: 1px solid $light;

		font-weight: 100;
		font-size: 12px;
	}
}
.levels
{
	margin-top: 10px;

	color: $grey;
	li
	{
		flex-flow: row;

		display: flex;
		cursor: hand;
		cursor: pointer;
		.delete-level
		{
			opacity: 0;
			margin-left: auto;

			color: $light;

			transition: all 250ms ease-out;
		}
	}
	li:hover
	{
		.delete-level
		{
			opacity: 1;
		}
	}
	li.pos
	{
		color: $green;
	}
	li.neg
	{
		color: $red;
	}
}

.add-to-watchlist
{
	position: fixed;
	bottom: 15px;
	left: 15px;
	button
	{
		cursor: hand;
		cursor: pointer;
		padding: 5px 10px;
		outline: 0;
		border: 1px solid white;
		border-radius: 5px;
		background: transparent;

		color: white;
	}
}
