
ul.watchlist
	li.watchlist-item( ng-repeat='item in watchlist | reverse', ng-keypress='keyPress( item, $index, $event )' )
		.watchlist-item-text
				p( type='text', ng-model='item.ticker', placeholder='(x) Delete watchlist item', ng-blur='saveWatchlist( item, $index, $event )' ) 
					| {{ item.ticker }}

			span.watchlist-item-level-input( type='text', ng-model='val.level', placeholder='Add level', ng-keypress='levelInputKeypress( item, val.level, $index, $event )' )
			ul.levels( ng-repeat='val in item.levels' )
				li.watchlist-item-level
					p.watchlist-item-level-input( type='text', ng-click="deleteLevel( item, val )", ng-model='val.level' )
						| {{ val }}
	//- input.list-item-level-input( type='text', placeholder='Add Level' )