
ul.watchlist
	li.watchlist-item( ng-repeat='item in watchlist | reverse', ng-keypress='keyPress( item, $index, $event )', class="pos" )
		ul.ticker
			li( type='text', ng-model='item.ticker', placeholder='(x) Delete watchlist item', ng-blur='saveWatchlist( item, $index, $event )' ) 
				| {{ item.ticker }}
			li TEST
		ul.levels( ng-repeat='val in item.levels' )
			li.watchlist-item-level
				| {{ val }}
	//- input.list-item-level-input( type='text', placeholder='Add Level' )