.watchlist-wrapper
{
	align-self: center;

	position: absolute;
	width: 25%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
}

.watchlist-header
{
	align-self: center;

	width: 80%;
	margin-top: 30px;
	margin-bottom: 40px;

	h2
	{
		margin-bottom: 10px;
	}
}

.watchlist-state
{
	width: 100%;
	padding-bottom: 80px;
}


.state-description
{
	font-size: 14px;
	line-height: 22px;
}
