//- .list-state
//- 	.list-header
//- 		h2
//- 			| Watch-List
//- 		.state-description
//- 			| Create your own.

a-candlestick.candlestick-wrapper( candlestick='aCandlestick' )
a-watchlist.watchlist-wrapper( watchlist='aWatchlist' )